:root {
    --ls-bg: #23272A;
    --ls-font-capital: #858a9b;
    --ls-font: #fff;
}

/* ? Make Swal look nice */
.swal2-modal {
    background-color: var(--ls-bg) !important;
}
.swal2-modal .swal-title {
    color: var(--ls-font-capital) !important;
}
.swal2-modal .swal-text {
    color: var(--ls-font) !important;
}